BASE_UI_URL=https://www.greencity.cx.ua/#/greenCity
BASE_API_URL=https://greencity.greencity.cx.ua
BASE_USER_API_URL=https://greencity-user.greencity.cx.ua
HEADLESS=True
IMPLICITLY_WAIT=10
EXPLICITLY_WAIT=10
USER_EMAIL=test@email.com
USER_PASSWORD=password
USER_NAME=test
BROWSER_LANG=en-GB
MAILOSAUR_API_KEY=some_key
MAILOSAUR_SERVER_ID=your_server_id
